body, html, #root {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  text-align: center;
}

.portalDiv {
  background-color: aqua;
}

.loadingScreen {
  text-align: center;
  top: 0px;
  left: 0px;
  background-color: rgb(212, 5, 5);
  color: aliceblue;
  border-radius: 50%;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  align-items: center;
  padding: 0;
  margin: 0;
  display: flex;
}